<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pivotal test practices">
    <parameter name="browser" value="chrome"/>
    <parameter name="appUrl" value="https://www.pivotaltracker.com"/>
    <parameter name="username" value="es.henrry@gmail.com"/>
    <parameter name="password" value="ssssss"/>
    <parameter name="SignInPageUrl" value="https://www.pivotaltracker.com/signin"/>
    <parameter name="HomePageUrl" value="https://www.pivotaltracker.com"/>
    <parameter name="DashboardPageUrl" value="https://www.pivotaltracker.com/dashboard"/>

    <test name="smoke">

        <classes>
            <class name="comp.fundacionjala.movies.HomeTest" />

            <class name="comp.fundacionjala.movies.DashboardTest" />
        </classes>
    </test>
</suite>